<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 id="cont_de_student"> Contul de student </h2>
			<p>	Detaliile de conectare ale contului de student le primiti de la secretariat.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2 id="documente_necesare"> Documente necesare </h2>
			<p>	O data cu completerarea cererii va trebui sa atasati si documentele care sa ateste.Documentele necesare in functie de caz: </p>
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
				<h3> Caz social </h3>
				<ul> 
					<li> document 1 </li>
					<li> document 2 </li>
				</ul>
				<h3> Parinte cadru didactic</h3>
				<ul>
					<li> asdad </li>
					<li> asda </li>
				</ul>
				<h3>  .... </h3>
				</div>
			</div>
		</div>
	</div>
</div>
