<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Procesul de cazare</h1>
			<p>Procesul de cazare incepe cu depunerea cererii de cazare. Ea se poate completa online prin intermediul acestei aplicatii.</p>
			<p>Pentru a incepe, este necesar sa va autentificati la aplicatie folosind <a href="/ajutor#cont_de_student">contul dumneavoastra de student [?]</a>.</p>
			<p> Cazarea se face in 3 pasi: <p>
			<ol>
				<li> Completarea cererii </li>
				<li> <a href="/ajutor#documente_necesare">Depunerea documentelor [?]</a></li>
				<li> Acceptarea, Respingerea sau Participarea la Redistribuire locurilor in camin </li>
			</ol>
			<p> <a href="/auth/autentificare/" class="btn btn-primary" style="width:100%;"> Vreau sa ma cazez! </a> </p>

		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h1>Căminele facultății</h1>
					<p>Facultatea de Matematică și Informatică oferă locuri de cazare studeților în căminele 	Universității București.</p>
					<p>Pentru o descriere a căminelor accesați link-ul din meniul de sus, secțiunea "Prezentare cămine".</p>
				</div>
				<div class="col-md-12">
					<div class="row cronian_logo">
						<img src="/assets/cronian-academy@2x.png">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
