<div class = "container">
  <div id="col2" class="col2"><a name="col2"></a>
<div id="2100art"><a name="2100art"></a><h1 style="text-align: center;">Prezentarea căminelor Universităţii din Bucureşti</h1><!--/2100art--></div>
<div id="2200art"><a name="2200art"></a><div class="arh_item">
<p>Universitatea din Bucureşti pune la dispoziţia studenţilor un număr de 5354 locuri în căminele proprii. Distribuţia acestora s-a făcut către facultăţi, ţinând cont de principiul proporţionalităţii, în funcţie de numărul de studenţi înscrişi finanţaţi de la buget.</p>
<dl class="synopsis"> <dt><span style="text-decoration: underline;"><strong>Cantina M. Kogălniceanu</strong></span></dt><dt>
<p><strong>Adresă: </strong>Bd. Mihail Kogălniceanu, nr. 36-46 / <strong>Telefon: </strong>021-315.55.23</p>
<p><strong>Mijloace de transport: </strong></p>
<p>Metrou: Eroilor;</p>
<p>RATB: 61, 69, 90, 91, 122, 137, 268, 336, 601;</p>
<p><strong>Program: </strong>Luni-Vineri: 11.30-17.00; 18.00-20.00</p>
<p><strong>Administrator: </strong>Iancu Bozu</p>
<p>Cantina Mihail Kogălniceanu are o capacitate de 1000 persoane/zi, mobilier nou, baie. A fost renovată în 2007.</p>
</dt></dl></div><!--/2200art--></div>
<!--==2300art==-->
<!--==2400art==-->
<!--==2500art==-->
<!--==2600art==-->
<!--==2700art==-->
<div id="2800art"><a name="2800art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">COMPLEX GROZĂVEŞTI</span> </strong>(capacitate de cazare: 2016 locuri; 284 în cămin A1)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Splaiul Independenţei, nr. 204</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>Metrou: Grozăveşti; RATB: 601</p>
<p style="text-align: justify;"><strong>Administratori: </strong></p>
<p style="text-align: justify;">Cămin A - Paraschiva Apostol<strong>; Telefon: </strong>021-318.88.58</p>
<p style="text-align: justify;">Cămin B - Eugen Iordache; <strong>Telefon: </strong>021-318.88.58</p>
<p style="text-align: justify;">Cămin C - Ana Tivga; <strong>Telefon: </strong>021- 318.88.61</p>
<p style="text-align: justify;">Cămin D - Viorica Anghelescu; <strong>Telefon: </strong>021-318.88.60</p>
<p style="text-align: justify;">Cămin A 1 - Traian Munteanu; <strong>Telefon: </strong>021-3114432.</p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Complexul Grozăveşti are căminele A, B, C, D (parter + 5 etaje) compuse din camere cu două paturi, mobilier pentru două persoane (dulap, masă pentru calculator, scaun) şi lavoar în cameră. Baia este comună; sunt două băi pe fiecare palier, dispuse la capetele culoarului. Căminele sunt recent renovate şi mobilierul este nou (căminele C şi D - renovate în anul 2006; căminul B a intrat în circuitul cazării în octombrie 2008, în urma unui proces de reparaţie capitală; căminul A se redeschide in octombrie 2009.</p>
<p style="text-align: justify;"><img title="Cămin A 1" src="http://www.unibuc.ro/n/student/img/grozavesti.A1.JPG" alt="Cămin A 1" width="121" height="183" />   <img title="Cămin A 1 Lobby" src="http://www.unibuc.ro/n/student/img/grozavesti.A1_3.JPG" alt="Cămin A 1 Lobby" width="250" height="166" />    <img title="Cămin A 1 Cameră" src="http://www.unibuc.ro/n/student/img/grozavesti_4.JPG" alt="Cămin A 1 Cameră" width="250" height="166" /></p>
<p style="text-align: justify;">Construcţia căminului <strong>A1 </strong>(parter + 9 etaje) a fost terminată în 2008, începând cu luna octombrie 2008 este cazabil şi îndeplineşte criteriile pentru cazarea studenţilor în cele mai bune condiţii.</p>
<p style="text-align: justify;">Este compus din camere cu trei paturi, mobilier pentru trei persoane (birou pentru calculator, dulap, noptieră, scaune) şi grup sanitar complet utilat. Dispune de o cameră pentru persoane cu handicap, bufet şi lift. Fiecare etaj dispune de un oficiu pentru prepararea hranei, o maşină de spălat pe fiecare palier şi cameră de uscat rufe. În viitor, căminul va avea spaţii de recreere pe fiecare etaj, dotate cu canapele, scaune, televizor.</p>
</div><!--/2800art--></div>
<div id="2943art"><a name="2943art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">COMPLEX MIHAIL KOGĂLNICEANU</span> </strong>(capacitate de cazare: 614 locuri)</p>
<p><strong>Adresă: </strong>Bd. Mihail Kogălniceanu, nr. 36-46 / <strong>Telefon: </strong>021-315.55.25</p>
<p><strong>Mijloace de transport: </strong>Metrou: Eroilor; RATB: 61, 69, 90, 91, 122, 137, 268, 336, 601;</p>
<p><strong>Administrator: </strong>Cristina Tudor</p>
<p><strong>Descriere:</strong></p>
<p>Complexul Mihail Kogălniceanu format din căminele A şi B, compuse din camere cu două, trei sau patru paturi; pe fiecare palier se găsesc două băi. Căminele au fost renovate, fiind dotate cu geamuri termopan şi mobilier complet nou.</p>
<p><img title="Cămin Kogălniceanu" src="http://www.unibuc.ro/n/student/img/kogalniceanu.JPG" alt="Cămin Kogălniceanu" width="250" height="166" />     <img title="Cămin Kogălniceanu Cameră" src="http://www.unibuc.ro/n/student/img/kogalniceanu_2.JPG" alt="Cămin Kogălniceanu Cameră" width="250" height="166" /></p>
</div><!--/2943art--></div>
<div id="2733art"><a name="2733art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">CĂMIN POLIGRAFIE</span> </strong>(capacitate de cazare: 244 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Bd. Ficusului, nr. 4</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>RATB: 331;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Safta Rodica. <strong>Contact</strong>: <a href="http://ciocp.ro/">Direcţia Servicii pentru Studenţi</a></p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Căminul Poligrafie are camere cu patru paturi şi două băi comune pe fiecare palier. Căminul a fost renovat în 2007, lucrările constând în izolaţie termică exterioară şi în montarea geamurilor şi uşilor termopan; mobilierul din camere este nou.</p>
<p style="text-align: justify;"><img title="Cămin Poligrafie" src="http://www.unibuc.ro/n/student/img/poligrafie_3.JPG" alt="Cămin Poligrafie" width="192" height="166" />   <img title="Poligrafie Cameră" src="http://www.unibuc.ro/n/student/img/poligrafie.JPG" alt="Poligrafie Cameră" width="201" height="166" /> <img title="Poligrafie cameră" src="http://www.unibuc.ro/n/student/img/poligrafie_2.JPG" alt="Poligrafie cameră" width="221" height="166" /></p>
</div><!--/2733art--></div>
<div id="2115art"><a name="2115art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">CĂMIN TH. PALLADY 1</span> </strong>(capacitate de cazare: 218 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Bd. Th. Pallady, nr. 24</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>Metrou: N. Grigorescu;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Columb Florica; <strong>Telefon: </strong>021-345.48.90</p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Căminul Th. Pallady are camere tip garsonieră, cu hol interior, patru paturi, grup sanitar propriu şi mobilier modern. Căminul a fost renovat în 2007.</p>
<p style="text-align: justify;"><img title="Pallady" src="http://www.unibuc.ro/n/student/img/Pallady_bli_bli.jpg" alt="Pallady" width="134" height="178" /> <img title="Pallady cameră" src="http://www.unibuc.ro/n/student/img/pallady.JPG" alt="Pallady cameră" width="250" height="166" /></p>
</div><!--/2115art--></div>
<div id="2538art"><a name="2538art"></a><p>
<div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">CĂMIN TH. PALLADY 2</span> </strong>(capacitate de cazare: 194 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Bd. Th. Pallady, nr. 24</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>Metrou: N. Grigorescu;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Columb Florica; <strong>Telefon: </strong>021-345.48.90</p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Căminul Th. Pallady 2 are camere tip garsonieră, cu 2 paturi, grup sanitar propriu şi mobilier nou; a intrat în circuitul cazării începând cu luna octombrie 2008.</p>
</div>
</p><!--/2538art--></div>
<div id="2497art"><a name="2497art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">CĂMIN STOIAN MILITARU</span> </strong>(capacitate de cazare: 471 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Str. Stoian Militaru, nr. 18</p>
<p style="text-align: justify;"><strong>Tel: </strong>021-332.43.25</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>Metrou: C. Brâncoveanu;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Ioana Ionescu</p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;"><strong><img title="Stoian Militaru" src="http://www.unibuc.ro/n/student/img/stoian_militaru.JPG" alt="Stoian Militaru" width="250" height="166" /><br /></strong></p>
<p style="text-align: justify;">Bloc de apartamente cu camere de două/trei/patru paturi, bucătărie, grup sanitar propriu. Căminul a fost supus unor lucrări de întreţinere şi reparaţii (inclusiv montarea de geamuri termopan), urmând ca mobilierul să fie înlocuit.</p>
<p style="text-align: justify;"> </p>
</div><!--/2497art--></div>
<div id="2431art"><a name="2431art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">CĂMIN FUNDENI</span> </strong>(capacitate de cazare: 204 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Şos. Fundeni, nr. 252-254</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>RATB: 66;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Adriana Mândruţă; <strong>Contact:</strong> <a href="http://ciocp.ro/">Direcţia Servicii pentru Studenţi</a></p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Căminul Fundeni are camere cu două paturi şi mobilier corespunzător. Fiecare cameră dispune de grup sanitar în cameră. Căminul a fost izolat termic şi renovat.</p>
</div><!--/2431art--></div>
<div id="2415art"><a name="2415art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">CĂMIN PANDURI</span> </strong>(capacitate de cazare: 221 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Şos. Pandurilor, nr. 90 / <strong>Telefon: </strong>021-410.31.78</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>RATB: 69, 90,91, 96, 122, 126, 137, 226, 268, 368;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Cherana Pascu</p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Camere cu două/cinci paturi, grupuri sanitare pe fiecare palier, maşini de spălat rufe. Baie comună pe fiecare palier. Căminul a fost renovat şi izolat termic în 2007.</p>
</div><!--/2415art--></div>
<div id="2425art"><a name="2425art"></a><div class="arh_item">
<p style="text-align: justify;"><strong><span style="text-decoration: underline;">COMPLEX MĂGURELE</span> </strong>(capacitate de cazare: 644 locuri)</p>
<p style="text-align: justify;"><strong>Adresa: </strong>Com. Măgurele, str. Fizicienilor, nr. 1-9</p>
<p style="text-align: justify;"><strong>Mijloace de transport: </strong>RATB: 433, 455;</p>
<p style="text-align: justify;"><strong>Administrator: </strong>Silvia Bădulescu;<strong> Telefon:</strong> 021-457.41.29<strong>; Fax: </strong>021-457.40.49</p>
<p style="text-align: justify;"><strong>Descriere:</strong></p>
<p style="text-align: justify;">Complexul Măgurele este format din căminele Gl, G2, G3, G4 care au în compunere module cu două camere, cu două/trei paturi; dispune de un hol şi de grup sanitar propriu.</p>
</div><!--/2425art--></div>
<div id="2256art"><a name="2256art"></a><p> </p>
<div class="arh_item">
<p style="text-align: justify;"><span style="text-decoration: underline;"><strong>CĂMIN C - LEU</strong></span>, et. I şi II (capacitate de cazare: 244 locuri)</p>
<p style="text-align: justify;"><strong>Adresa:</strong> B-dul Iuliu Maniu 1-3</p>
<p style="text-align: justify;"><strong>Mijloace de transport:</strong> Metrou: Politehnica, RATB: 61, 62, 71, 122, 126, 136, 236, 336.</p>
<p style="text-align: justify;"><strong>Contact:</strong> <a href="http://ciocp.ro/">Direcţia Servicii pentru Studenţi</a></p>
<p style="text-align: justify;"><strong>Descriere: </strong></p>
<p style="text-align: justify;">Camere cu două paturi şi grupuri sanitare pe palier.</p>
</div><!--/2256art--></div>
<div id="2900art"><a name="2900art"></a>
<p> </p>
<!--/2900art--></div>
<!--/col2--></div>
		</div>
	</div>
</div>
</div>
</div>
</div>
