<div>

		<h1>Bună <%=@current_user.first_name%> <%=@current_user.last_name%>,</h1>

		<h2>Proces cazare</h2>

		<br>

		<p>Pentru a crea o cerere de cazare apasă pe butonul "Creează cerere" din meniul "Cererea mea". Vei fi direcționat către o pagină unde vei putea completa informațiile legate de cazare. La sfârșit poți depune cererea sau o poți salva pentru a te întoarce mai tarziu la ea.</p>

		<p>Cererea poate fi editată apasând butonul "Vezi cerere" din meniul "Cererea mea", in conditiile in care nu a fost depusa. O cerere poate fi editată de mai multe ori.</p>

		<p>Nu se poate crea și depune decât o cerere. După depunere, cererea nu mai poate fi editată, însă poate fi anulată.</p>

		<p>După verificarea cererilor, vei primi o notificare pe care o vei putea vizualiza apapasand pe butonul "Notificari".</p>

		<p>După distribuirea locurilor de cazare vei primi o notificare prin care vei putea vedea decizia comisiei sau poti apăsa pe butonul "Vezi decizie comisie" din meniul "Cererea mea".</p>
</div>
